{
    "openapi": "3.1.0",
    "info": {
        "title": "Blaaiz Platform API - Accept Interac Money Request",
        "version": "1.0.0",
        "description": "Accept an Interac transfer into your business wallet."
    },
    "tags": [
        {
            "name": "Collection"
        }
    ],
    "servers": [
        {
            "url": "https://api-prod.blaaiz.com"
        },
        {
            "url": "https://api-dev.blaaiz.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "apiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "x-blaaiz-api-key"
            }
        },
        "schemas": {
            "AcceptInteracStandardRequest": {
                "title": "Standard transfer (security answer required)",
                "type": "object",
                "description": "Use this for regular Interac transfers that require a security answer.",
                "properties": {
                    "reference_number": {
                        "type": "string",
                        "description": "Interac reference number."
                    },
                    "security_answer": {
                        "type": "string",
                        "description": "Security answer for the Interac transfer."
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Email address associated with the Interac transfer."
                    }
                },
                "required": [
                    "reference_number",
                    "security_answer"
                ]
            },
            "AcceptInteracAutoDepositRequest": {
                "title": "Auto Deposit transfer (no security answer)",
                "type": "object",
                "description": "Use this for Auto Deposit transactions (no security answer needed).",
                "properties": {
                    "reference_number": {
                        "type": "string",
                        "description": "Interac reference number."
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Email address associated with the Interac transfer."
                    }
                },
                "required": [
                    "reference_number"
                ]
            },
            "AcceptInteracResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "message"
                ]
            },
            "Error": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "message"
                ]
            }
        }
    },
    "paths": {
        "/api/external/accept-interac-money-request": {
            "post": {
                "summary": "Accept Interac money request",
                "description": "Accept an Interac transfer into your business wallet.",
                "tags": [
                    "Collection"
                ],
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        },
                        "required": false,
                        "description": "Content type header."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "oneOf": [
                                    {
                                        "$ref": "#/components/schemas/AcceptInteracStandardRequest"
                                    },
                                    {
                                        "$ref": "#/components/schemas/AcceptInteracAutoDepositRequest"
                                    }
                                ]
                            },
                            "examples": {
                                "option_1_standard_transfer": {
                                    "summary": "Option 1: Standard transfer (security answer required)",
                                    "value": {
                                        "reference_number": "ABC123456",
                                        "security_answer": "MySecretAnswer",
                                        "email": "payer@example.com"
                                    }
                                },
                                "option_2_auto_deposit": {
                                    "summary": "Option 2: Auto Deposit transfer (no security answer)",
                                    "value": {
                                        "reference_number": "AUTO123456",
                                        "email": "payer@example.com"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Interac money request accepted and queued for processing.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AcceptInteracResponse"
                                },
                                "example": {
                                    "message": "Interac money request accepted successfully. It will be processed in a few minutes."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "message": "Invalid or missing API key"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}