{
    "openapi": "3.1.0",
    "info": {
        "title": "Blaaiz Platform API - Initiate Collection",
        "version": "1.0.0",
        "description": "Initiate a collection. For card and open_banking methods, redirect your customer to the returned payment URL to complete the payment. You will receive a webhook notification when the payment is completed."
    },
    "tags": [
        {
            "name": "Collection"
        }
    ],
    "servers": [
        {
            "url": "https://api-prod.blaaiz.com"
        },
        {
            "url": "https://api-dev.blaaiz.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "apiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "x-blaaiz-api-key"
            }
        },
        "schemas": {
            "InitiateCollectionRequest": {
                "type": "object",
                "properties": {
                    "method": {
                        "type": "string",
                        "enum": [
                            "card",
                            "open_banking"
                        ],
                        "description": "Collection method."
                    },
                    "amount": {
                        "type": "number",
                        "description": "Amount to collect."
                    },
                    "wallet_id": {
                        "type": "string",
                        "description": "Wallet ID to fund."
                    },
                    "customer_id": {
                        "type": "string",
                        "description": "Customer ID to associate with the collection."
                    },
                    "phone": {
                        "type": "string",
                        "description": "Customer phone number."
                    }
                },
                "required": [
                    "method",
                    "amount",
                    "wallet_id"
                ]
            },
            "InitiateCollectionResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "transaction_id": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string",
                        "format": "uri"
                    }
                },
                "required": [
                    "message",
                    "transaction_id",
                    "url"
                ]
            },
            "Error": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "message"
                ]
            }
        }
    },
    "paths": {
        "/api/external/collection": {
            "post": {
                "summary": "Initiate collection",
                "description": "Initiate a collection. For card and open_banking methods, redirect your customer to the returned payment URL to complete the payment. You will receive a webhook notification when the payment is completed.",
                "tags": [
                    "Collection"
                ],
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        },
                        "required": false,
                        "description": "Content type header."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InitiateCollectionRequest"
                            },
                            "example": {
                                "method": "open_banking",
                                "amount": 100,
                                "wallet_id": "9d469b3f-ca6c-4e82-8b4f-5f323c9ab03e",
                                "customer_id": "9d4c4ec5-59ea-4130-bf8a-6a5edec401ee",
                                "phone": "+441234567890"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Collection initiated successfully. Redirect customer to the payment URL.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InitiateCollectionResponse"
                                },
                                "example": {
                                    "message": "Collection initiated successfully.",
                                    "transaction_id": "fb87c0f8-31e3-46f3-b0d3-1ff2618565bc",
                                    "url": "https://payment.blaaiz.com/complete/abc123"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "message": "Invalid or missing API key"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}