{
    "openapi": "3.1.0",
    "info": {
        "title": "Blaaiz Platform API - Create Virtual Bank Account",
        "version": "1.0.0",
        "description": "Create a new virtual bank account (VBA) for a wallet"
    },
    "tags": [
        {
            "name": "Virtual Bank Accounts"
        }
    ],
    "servers": [
        {
            "url": "https://api-prod.blaaiz.com"
        },
        {
            "url": "https://api-dev.blaaiz.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "apiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "x-blaaiz-api-key"
            }
        },
        "schemas": {
            "CreateVBARequest": {
                "type": "object",
                "description": "Supports NGN, GBP, USD, EUR. \n For NGN, account_name is required. \n For GBP/USD/EUR, customer must have type=individual (business not supported).",
                "properties": {
                    "wallet_id": {
                        "type": "string",
                        "description": "ID of the business wallet the account will be associated with."
                    },
                    "account_name": {
                        "type": "string",
                        "description": "Name for the virtual bank account holder (max 255 chars).\nRequired when currency is NGN."
                    },
                    "customer_id": {
                        "type": "string",
                        "description": "Customer ID the VBA should be created for.\nFor GBP/USD/EUR, customer must have type=individual (business not supported)."
                    }
                },
                "required": [
                    "wallet_id"
                ]
            },
            "VirtualBankAccount": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "business_wallet_id": {
                        "type": "string"
                    },
                    "currency_id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "currency": {
                        "type": "string"
                    },
                    "account_number": {
                        "type": "string"
                    },
                    "account_name": {
                        "type": "string"
                    },
                    "bank_name": {
                        "type": "string"
                    },
                    "bank_code": {
                        "type": "string"
                    },
                    "provider": {
                        "type": "string"
                    },
                    "account_reference": {
                        "type": "string"
                    },
                    "reservation_reference": {
                        "type": [
                            "string",
                            "null"
                        ]
                    }
                },
                "required": [
                    "id",
                    "business_wallet_id",
                    "currency_id",
                    "currency",
                    "account_number",
                    "account_name",
                    "bank_name",
                    "status"
                ]
            },
            "CreateVBAResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/VirtualBankAccount"
                        }
                    }
                },
                "required": [
                    "message",
                    "data"
                ]
            },
            "Error": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "message"
                ]
            }
        }
    },
    "paths": {
        "/api/external/virtual-bank-account": {
            "post": {
                "summary": "Create virtual bank account",
                "description": "Generates a new virtual bank account for the specified wallet. Supports NGN, GBP, USD, EUR.",
                "tags": [
                    "Virtual Bank Accounts"
                ],
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateVBARequest"
                            },
                            "examples": {
                                "default": {
                                    "value": {
                                        "wallet_id": "b18ed308-5ac5-4e9e-bb16-8c03ec2d3c01",
                                        "account_name": "Jane Doe",
                                        "customer_id": "9d4c4ec5-59ea-4130-bf8a-6a5edec401ee"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Virtual bank account created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateVBAResponse"
                                },
                                "example": {
                                    "message": "Virtual bank account created successfully.",
                                    "data": [
                                        {
                                            "id": "33580c65-d063-4138-a875-82ff09dfaeb5",
                                            "business_wallet_id": "b18ed308-5ac5-4e9e-bb16-8c03ec2d3c01",
                                            "currency_id": 1,
                                            "currency": "NGN",
                                            "account_number": "7880000024",
                                            "account_name": "John Doe",
                                            "bank_name": "78 Finance Company Limited",
                                            "bank_code": "123456",
                                            "provider": "BANK78",
                                            "account_reference": "2327323232",
                                            "reservation_reference": null
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "currency_not_supported": {
                                        "value": {
                                            "message": "Currency GBP not supported."
                                        }
                                    },
                                    "duplicate_account": {
                                        "value": {
                                            "message": "A virtual bank account with the name 'John Doe' already exists for this business wallet using the 'BANK78' provider. Please choose a different name."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "status": false,
                                    "message": "Invalid or missing API key"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}