{
    "openapi": "3.1.0",
    "info": {
        "title": "Blaaiz Platform API - Get Virtual Bank Account",
        "version": "1.0.0",
        "description": "Retrieve a single virtual bank account by ID"
    },
    "tags": [
        {
            "name": "Virtual Bank Accounts"
        }
    ],
    "servers": [
        {
            "url": "https://api-prod.blaaiz.com"
        },
        {
            "url": "https://api-dev.blaaiz.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "apiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "x-blaaiz-api-key"
            }
        },
        "schemas": {
            "VirtualBankAccount": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique identifier for the virtual bank account"
                    },
                    "business_wallet_id": {
                        "type": "string",
                        "description": "Business wallet ID associated with this virtual account"
                    },
                    "currency_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Currency identifier"
                    },
                    "currency": {
                        "type": "string",
                        "description": "Currency code (e.g., NGN, USD)"
                    },
                    "account_number": {
                        "type": "string",
                        "description": "Virtual account number"
                    },
                    "iban": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "IBAN if applicable"
                    },
                    "account_name": {
                        "type": "string",
                        "description": "Name on the virtual account"
                    },
                    "bank_name": {
                        "type": "string",
                        "description": "Bank name"
                    },
                    "bank_code": {
                        "type": "string",
                        "description": "Bank code"
                    },
                    "provider": {
                        "type": "string",
                        "description": "Provider for this virtual account"
                    },
                    "account_reference": {
                        "type": "string",
                        "description": "Reference associated with the virtual account"
                    },
                    "reservation_reference": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Reservation reference if present"
                    },
                    "sort_code": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Sort code if applicable"
                    },
                    "bank_address": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Bank address if applicable"
                    },
                    "status": {
                        "type": "string",
                        "description": "Status of the virtual account (e.g., SUCCESSFUL)"
                    }
                },
                "required": [
                    "id",
                    "business_wallet_id",
                    "currency_id",
                    "currency",
                    "account_number",
                    "account_name",
                    "bank_name",
                    "status"
                ]
            },
            "VirtualBankAccountResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/VirtualBankAccount"
                    }
                },
                "required": [
                    "message",
                    "data"
                ]
            },
            "Error": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "message"
                ]
            }
        }
    },
    "paths": {
        "/api/external/virtual-bank-account/{id}": {
            "get": {
                "summary": "Retrieve a single virtual bank account",
                "description": "Retrieves details of a specific virtual bank account by its ID.",
                "tags": [
                    "Virtual Bank Accounts"
                ],
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "ID of the virtual bank account to retrieve.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Virtual bank account retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VirtualBankAccountResponse"
                                },
                                "example": {
                                    "message": "Virtual bank account retrieved successfully.",
                                    "data": {
                                        "id": "33580c65-d063-4138-a875-82ff09dfaeb5",
                                        "business_wallet_id": "b18ed308-5ac5-4e9e-bb16-8c03ec2d3c01",
                                        "currency_id": 1,
                                        "currency": "NGN",
                                        "account_number": "7880000024",
                                        "account_name": "John Doe",
                                        "bank_name": "78 Finance Company Limited",
                                        "bank_code": "123456",
                                        "provider": "BANK78",
                                        "account_reference": "2327323232",
                                        "reservation_reference": null,
                                        "status": "SUCCESSFUL"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "message": "Invalid or missing API key"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "message": "Virtual bank account not found"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}