{"openapi":"3.1.0","info":{"title":"Blaaiz Platform API - Create Crypto Payout","version":"1.0.0","description":"Send crypto from a business crypto wallet to an external on-chain address."},"tags":[{"name":"Crypto"}],"servers":[{"url":"https://api-prod.blaaiz.com"},{"url":"https://api-dev.blaaiz.com"}],"components":{"securitySchemes":{"oauth2ClientCredentials":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"/oauth/token","scopes":{"crypto-payout:create":"Initiate on-chain crypto payouts."}}}}},"schemas":{"CryptoPayoutRequest":{"type":"object","required":["customer_id","wallet_id","amount","address","network","token"],"properties":{"customer_id":{"type":"string","description":"The ID of a VERIFIED customer that belongs to your business."},"wallet_id":{"type":"string","description":"The source crypto wallet ID."},"amount":{"type":"string","pattern":"^[0-9]+(\\.[0-9]{1,18})?$","description":"The crypto amount. The minimum is 0.00000001. Send a string with up to 18 decimal places."},"address":{"type":"string","maxLength":255,"description":"The external destination address."},"network":{"type":"string","enum":["BITCOIN_MAINNET","ETHEREUM_MAINNET","MATIC_MAINNET","BSC_MAINNET","TRON_MAINNET"]},"token":{"type":"string","maxLength":20,"description":"The token symbol for the selected network."}}},"CryptoPayoutResponseData":{"type":"object","required":["id","reference","status","wallet_id","customer_id","currency","destination_currency","rate","amount","fee","net_amount","destination_amount","address","network"],"properties":{"id":{"type":"string"},"reference":{"type":"string"},"status":{"type":"string","enum":["processing","successful","failed"]},"wallet_id":{"type":"string"},"customer_id":{"type":"string"},"currency":{"type":"string"},"destination_currency":{"type":["string","null"]},"rate":{"type":["string","null"],"description":"The rate used for this payout."},"amount":{"type":"string","description":"The source amount as a decimal string."},"fee":{"type":"string","description":"The total fee as a decimal string."},"net_amount":{"type":"string","description":"The source amount after fees as a decimal string."},"destination_amount":{"type":["string","null"],"description":"The destination amount as a decimal string."},"address":{"type":"string"},"network":{"type":"string"}}}}},"paths":{"/api/external/crypto/payouts":{"post":{"summary":"Create a crypto payout","description":"Send crypto to an external address. The source wallet must belong to your business. The customer must belong to your business and have a VERIFIED status. The address must not be a Blaaiz wallet address. The request needs approved KYB and an `Idempotency-Key`. Required scope: `crypto-payout:create`.","tags":["Crypto"],"security":[{"oauth2ClientCredentials":["crypto-payout:create"]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":true,"schema":{"type":"string","maxLength":255},"description":"A unique key for this payout request."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CryptoPayoutRequest"},"example":{"customer_id":"customer-id","wallet_id":"wallet-id","amount":"100.000000","address":"0x742d35Cc6634C0532925a3b844Bc9e7595f6E123","network":"ETHEREUM_MAINNET","token":"USDC"}}}},"responses":{"200":{"description":"Crypto payout initiated successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CryptoPayoutResponseData"}}},"example":{"message":"Crypto payout initiated successfully.","data":{"id":"transaction-id","reference":"CRYPTO-REF","status":"processing","wallet_id":"wallet-id","customer_id":"customer-id","currency":"USDC","destination_currency":"USDC","rate":"1.00000000","amount":"100.000000","fee":"1.000000","net_amount":"99.000000","destination_amount":"99.000000","address":"0x742d35Cc6634C0532925a3b844Bc9e7595f6E123","network":"ETHEREUM_MAINNET"}}}}},"400":{"description":"The customer does not belong to your business or cannot be used for a payout."},"409":{"description":"A request with the same idempotency key is active."},"422":{"description":"The idempotency key is missing, the amount is not a string, or the key was used with different request data."}}}}}}
