{
  "openapi": "3.1.0",
  "info": {"title": "Blaaiz Platform API - List Crypto Wallet Addresses", "version": "1.0.0", "description": "Get deposit addresses for one business crypto wallet."},
  "tags": [{"name": "Crypto"}],
  "servers": [{"url": "https://api-prod.blaaiz.com"}, {"url": "https://api-dev.blaaiz.com"}],
  "components": {"securitySchemes": {"oauth2ClientCredentials": {"type": "oauth2", "flows": {"clientCredentials": {"tokenUrl": "/oauth/token", "scopes": {"crypto-wallet:read": "Read crypto wallets and deposit addresses."}}}}}},
  "paths": {"/api/external/crypto/wallets/{walletId}/addresses": {"get": {"summary": "List crypto wallet addresses", "description": "Get deposit addresses for one business crypto wallet. To get the addresses for one customer, use the optional `customer_id` query parameter. Required scope: `crypto-wallet:read`.", "tags": ["Crypto"], "security": [{"oauth2ClientCredentials": ["crypto-wallet:read"]}], "parameters": [{"name": "walletId", "in": "path", "required": true, "schema": {"type": "string"}, "description": "The crypto wallet ID."}, {"name": "customer_id", "in": "query", "required": false, "schema": {"type": "string", "format": "uuid"}, "description": "Optional. Return only the addresses for this customer."}], "responses": {"200": {"description": "Crypto wallet addresses retrieved successfully.", "content": {"application/json": {"example": {"message": "Crypto wallet addresses retrieved successfully.", "data": [{"id": "address-id", "customer_id": "customer-id", "address": "0x742d35Cc6634C0532925a3b844Bc9e7595f6E123", "network": "ETHEREUM_MAINNET", "type": "deposit", "status": "SUCCESSFUL"}]}}}}, "404": {"description": "The wallet does not belong to your business or does not exist."}}}}}
}
