{"openapi":"3.1.0","info":{"title":"Blaaiz Platform API - List Crypto Transactions","version":"1.0.0","description":"Get paginated crypto transactions that your API integration created."},"tags":[{"name":"Crypto"}],"servers":[{"url":"https://api-prod.blaaiz.com"},{"url":"https://api-dev.blaaiz.com"}],"components":{"securitySchemes":{"oauth2ClientCredentials":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"/oauth/token","scopes":{"crypto-transaction:read":"Read crypto wallet transactions."}}}}}},"paths":{"/api/external/crypto/transactions":{"get":{"summary":"List crypto transactions","description":"Get API-created crypto transactions for your business. Required scope: `crypto-transaction:read`.","tags":["Crypto"],"security":[{"oauth2ClientCredentials":["crypto-transaction:read"]}],"parameters":[{"name":"wallet_id","in":"query","schema":{"type":"string"}},{"name":"customer_id","in":"query","schema":{"type":"string"},"description":"Filter transactions by customer ID."},{"name":"status","in":"query","schema":{"type":"string","enum":["processing","successful","failed"]}},{"name":"type","in":"query","schema":{"type":"string","enum":["payout","swap"]}},{"name":"direction","in":"query","schema":{"type":"string","enum":["in","out"]}},{"name":"start_date","in":"query","schema":{"type":"string","format":"date"}},{"name":"end_date","in":"query","schema":{"type":"string","format":"date"}},{"name":"search_term","in":"query","schema":{"type":"string"}},{"name":"per_page","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":10}}],"responses":{"200":{"description":"Crypto transactions retrieved successfully.","content":{"application/json":{"example":{"data":[{"id":"transaction-id","wallet_id":"wallet-id","customer_id":"customer-id","type":"payout","status":"processing","reference":"CRYPTO-REF","currency":"USDC","amount":"100.000000"}],"current_page":1,"per_page":10,"total":1}}}}}}}}}
