{"openapi":"3.1.0","info":{"title":"Blaaiz Platform API - List Crypto Wallet Transactions","version":"1.0.0","description":"Get paginated crypto transactions for one business crypto wallet."},"tags":[{"name":"Crypto"}],"servers":[{"url":"https://api-prod.blaaiz.com"},{"url":"https://api-dev.blaaiz.com"}],"components":{"securitySchemes":{"oauth2ClientCredentials":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"/oauth/token","scopes":{"crypto-transaction:read":"Read crypto wallet transactions."}}}}},"schemas":{"CryptoTransaction":{"type":"object","properties":{"id":{"type":"string"},"wallet_id":{"type":"string"},"customer_id":{"type":["string","null"],"description":"The customer ID for a payout. This value is null for swaps."},"type":{"type":"string","enum":["payout","swap"]},"direction":{"type":"string","enum":["in","out"]},"status":{"type":"string","enum":["processing","successful","failed"]},"reference":{"type":"string"},"currency":{"type":"string"},"amount":{"type":["string","null"]},"fee":{"type":["string","null"]},"net_amount":{"type":["string","null"]},"balance_change":{"type":["string","null"]},"target_currency":{"type":["string","null"]},"target_amount":{"type":["string","null"]},"rate":{"type":["string","null"]},"address":{"type":["string","null"]},"network":{"type":["string","null"]},"transaction_hash":{"type":["string","null"]},"counterparty_transaction_id":{"type":["string","null"]},"counterparty_transaction":{"type":["object","null"]},"fiat_transaction_id":{"type":["string","null"]},"fiat_transaction":{"type":["object","null"]},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}}}},"paths":{"/api/external/crypto/wallets/{walletId}/transactions":{"get":{"summary":"List crypto wallet transactions","description":"Get API-created crypto transactions for one wallet. Required scope: `crypto-transaction:read`.","tags":["Crypto"],"security":[{"oauth2ClientCredentials":["crypto-transaction:read"]}],"parameters":[{"name":"walletId","in":"path","required":true,"schema":{"type":"string"},"description":"The crypto wallet ID."},{"name":"customer_id","in":"query","schema":{"type":"string"},"description":"Filter transactions by customer ID."},{"name":"status","in":"query","schema":{"type":"string","enum":["processing","successful","failed"]}},{"name":"type","in":"query","schema":{"type":"string","enum":["payout","swap"]}},{"name":"direction","in":"query","schema":{"type":"string","enum":["in","out"]}},{"name":"start_date","in":"query","schema":{"type":"string","format":"date"}},{"name":"end_date","in":"query","schema":{"type":"string","format":"date"}},{"name":"search_term","in":"query","schema":{"type":"string"}},{"name":"per_page","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":10}}],"responses":{"200":{"description":"Crypto wallet transactions retrieved successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CryptoTransaction"}},"current_page":{"type":"integer"},"per_page":{"type":"integer"},"total":{"type":"integer"}}},"example":{"data":[{"id":"transaction-id","wallet_id":"wallet-id","customer_id":"customer-id","type":"payout","status":"processing","reference":"CRYPTO-REF","currency":"USDC","amount":"100.000000","fee":"1.000000","net_amount":"99.000000","balance_change":"-100.000000","target_currency":"USDC","target_amount":"99.000000","rate":"1.00000000","address":"0x742d35Cc6634C0532925a3b844Bc9e7595f6E123","network":"ETHEREUM_MAINNET","transaction_hash":null,"counterparty_transaction_id":null,"counterparty_transaction":null,"fiat_transaction_id":null,"fiat_transaction":null,"created_at":"2026-08-12T20:00:00.000000Z","updated_at":"2026-08-12T20:00:00.000000Z"}],"current_page":1,"per_page":10,"total":1}}}},"404":{"description":"The wallet does not belong to your business or does not exist."}}}}}}
