{
    "openapi": "3.1.0",
    "info": {
        "title": "Blaaiz Platform API - Virtual Bank Accounts",
        "version": "1.0.0",
        "description": "Retrieve all virtual bank accounts (VBAs) for a wallet"
    },
    "tags": [
        {
            "name": "Virtual Bank Accounts"
        }
    ],
    "servers": [
        {
            "url": "https://api-prod.blaaiz.com"
        },
        {
            "url": "https://api-dev.blaaiz.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "apiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "x-blaaiz-api-key"
            }
        },
        "schemas": {
            "VirtualBankAccount": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique identifier for the virtual bank account"
                    },
                    "business_wallet_id": {
                        "type": "string",
                        "description": "Business wallet ID associated with this virtual account"
                    },
                    "currency_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Currency identifier"
                    },
                    "currency": {
                        "type": "string",
                        "description": "Currency code (e.g., NGN, USD)"
                    },
                    "account_number": {
                        "type": "string",
                        "description": "Virtual account number"
                    },
                    "iban": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "IBAN if applicable"
                    },
                    "account_name": {
                        "type": "string",
                        "description": "Name on the virtual account"
                    },
                    "bank_name": {
                        "type": "string",
                        "description": "Bank name"
                    },
                    "bank_code": {
                        "type": "string",
                        "description": "Bank code"
                    },
                    "account_reference": {
                        "type": "string",
                        "description": "Reference associated with the virtual account"
                    },
                    "reservation_reference": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Reservation reference if present"
                    },
                    "sort_code": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Sort code if applicable"
                    },
                    "bank_address": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Bank address if applicable"
                    },
                    "status": {
                        "type": "string",
                        "description": "Status of the virtual account (e.g., SUCCESSFUL)"
                    }
                },
                "required": [
                    "id",
                    "business_wallet_id",
                    "currency_id",
                    "currency",
                    "account_number",
                    "account_name",
                    "bank_name",
                    "status"
                ]
            },
            "VirtualBankAccountResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/VirtualBankAccount"
                        }
                    }
                },
                "required": [
                    "message",
                    "data"
                ]
            },
            "Error": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "message"
                ]
            }
        }
    },
    "paths": {
        "/api/external/virtual-bank-account": {
            "get": {
                "summary": "Retrieve all virtual bank accounts",
                "description": "Fetches all virtual bank accounts (VBAs) for the specified wallet.",
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "wallet_id",
                        "in": "query",
                        "required": true,
                        "description": "Unique identifier of the wallet",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "customer_id",
                        "in": "query",
                        "required": false,
                        "description": "Unique identifier of the customer (optional)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Virtual bank accounts retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VirtualBankAccountResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid or missing API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}