{
    "openapi": "3.1.0",
    "info": {
        "title": "Blaaiz Platform API - List Banks",
        "version": "1.0.0",
        "description": "Retrieve a list of supported banks with optional filters"
    },
    "tags": [
        {
            "name": "Bank"
        }
    ],
    "servers": [
        {
            "url": "https://api-prod.blaaiz.com"
        },
        {
            "url": "https://api-dev.blaaiz.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "apiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "x-blaaiz-api-key"
            }
        },
        "schemas": {
            "Bank": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique identifier for the bank"
                    },
                    "name": {
                        "type": "string",
                        "description": "Bank name"
                    },
                    "code": {
                        "type": "string",
                        "description": "Bank code"
                    },
                    "country": {
                        "type": "object",
                        "description": "Country information for the bank",
                        "properties": {
                            "code": {
                                "type": "string",
                                "description": "Two-letter country code (e.g., NG, US)"
                            },
                            "name": {
                                "type": "string",
                                "description": "Country name"
                            }
                        }
                    }
                },
                "required": [
                    "id",
                    "name",
                    "code"
                ]
            },
            "BankListResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Bank"
                        }
                    }
                },
                "required": [
                    "message",
                    "data"
                ]
            },
            "Error": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "message"
                ]
            }
        }
    },
    "paths": {
        "/api/external/bank": {
            "get": {
                "summary": "List all banks",
                "description": "Retrieve all supported banks. Filter by currency or country if desired.",
                "tags": [
                    "Bank"
                ],
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "currency",
                        "in": "query",
                        "required": false,
                        "description": "Filter banks by currency code (e.g., NGN, USD, CAD)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "description": "Filter banks by country code (e.g., NG, US, CA)",
                        "schema": {
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 2
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Banks retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BankListResponse"
                                },
                                "example": {
                                    "message": "Banks retrieved successfully.",
                                    "data": [
                                        {
                                            "id": "bank_123",
                                            "name": "78 Finance Company Limited",
                                            "code": "123456",
                                            "country": {
                                                "code": "NG",
                                                "name": "Nigeria"
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "message": "Invalid or missing API key"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}