{
    "openapi": "3.1.0",
    "info": {
        "title": "Blaaiz Platform API - Create Customer",
        "version": "1.0.0",
        "description": "Create a new customer. The required fields and the verification flow that follows depend on the customer type.\n\n**Individual customers** (`type=individual`) require `id_type` and `id_number` at the customer level (passport / driver's license / resident permit). They follow the legacy KYC flow: create the customer, upload identity files via `POST /api/external/file/get-presigned-url` and `POST /api/external/customer/{id}/files`, and verification triggers automatically when `id_file` is included.\n\n**Business-type customers** (`type=business`) require `business_name`, `registration_number`, and `incorporation_country` at the customer level. They do **not** require `id_type`/`id_number` or `country` — for businesses, `incorporation_country` is the canonical jurisdiction and `country` auto-fills from it if omitted. The legacy fields remain accepted for back-compat — when supplied, `id_type` must still be `certificate_of_incorporation`. Business customers follow the KYB flow: create the customer (you may include the `owners` array on this request), upload owner ID files via the dedicated owner-file endpoints, register KYB documents via the dedicated document endpoints, and call `POST /api/external/customer/{id}/submit` when ready. The legacy `/files` endpoint is not used for business-type customers — see the [Business customer KYB guide](/guides/kyb/overview).\n\nFor individual customers, the customer's `country` must match the country on the identity document submitted for KYC. Accepted identity documents for individuals: Driver's License, Passport, or Resident Permit. ID cards (National Identity Cards) are not accepted. All uploaded documents must be clear, legible, and authentic — unclear images will be rejected. Fraudulent or falsified documents will result in the customer being permanently blacklisted from the platform."
    },
    "tags": [
        {
            "name": "Customer"
        }
    ],
    "servers": [
        {
            "url": "https://api-prod.blaaiz.com"
        },
        {
            "url": "https://api-dev.blaaiz.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "oauth2ClientCredentials": {
                "type": "oauth2",
                "description": "Use your OAuth client credentials to obtain a short-lived Bearer token from POST /oauth/token.",
                "flows": {
                    "clientCredentials": {
                        "tokenUrl": "/oauth/token",
                        "scopes": {
                            "customer:write": "Create and update customers and KYC data."
                        }
                    }
                }
            }
        },
        "schemas": {
            "CreateCustomerRequest": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "enum": [
                            "individual",
                            "business"
                        ],
                        "description": "Customer type."
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "country": {
                        "type": "string",
                        "description": "ISO alpha-2 country code. **Required for `type=individual`** — must match the country on the identity document submitted for KYC. **Optional for `type=business`** — for businesses, `incorporation_country` is the canonical jurisdiction; if `country` is omitted, it auto-fills from `incorporation_country` so downstream operations behave identically."
                    },
                    "id_type": {
                        "type": "string",
                        "enum": [
                            "drivers_license",
                            "passport",
                            "resident_permit",
                            "certificate_of_incorporation"
                        ],
                        "description": "Identity document type. **Required for `type=individual`** — must be `drivers_license`, `passport`, or `resident_permit`. **Optional for `type=business`** — businesses identify themselves via `registration_number` + `incorporation_country` instead. If you do send `id_type` on a business customer (back-compat), it must be `certificate_of_incorporation`. ID cards (National Identity Cards) are not accepted. No other document types are supported."
                    },
                    "id_number": {
                        "type": "string",
                        "description": "Identity document number. **Required for `type=individual`** (the number from the document supplied via `id_type`). **Optional for `type=business`** — businesses use `registration_number` instead. If you do send `id_number` on a business customer, it should match the value sent in `registration_number`."
                    },
                    "first_name": {
                        "type": "string",
                        "description": "Required if type is individual."
                    },
                    "last_name": {
                        "type": "string",
                        "description": "Required if type is individual."
                    },
                    "business_name": {
                        "type": "string",
                        "description": "Required if type is business."
                    },
                    "phone": {
                        "type": "string"
                    },
                    "tin": {
                        "type": "string",
                        "description": "Tax identification number (varies by country). Where applicable, use the Get Identification Type endpoint to determine the correct label or field to collect for the customer's country and type."
                    },
                    "dob": {
                        "type": "string",
                        "format": "date"
                    },
                    "street": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "zip_code": {
                        "type": "string"
                    },
                    "id_expiry_date": {
                        "type": "string",
                        "format": "date"
                    },
                    "id_issue_date": {
                        "type": "string",
                        "format": "date"
                    },
                    "operating_street": {
                        "type": "string",
                        "description": "Business operating address — street. Use when the operating address differs from the registered (`street`) address. Rejected if `type=individual`."
                    },
                    "operating_city": {
                        "type": "string",
                        "description": "Business operating city. Rejected if `type=individual`."
                    },
                    "operating_state": {
                        "type": "string",
                        "description": "Business operating state. Rejected if `type=individual`."
                    },
                    "operating_zip_code": {
                        "type": "string",
                        "description": "Business operating zip / postal code. Rejected if `type=individual`."
                    },
                    "trading_name": {
                        "type": "string",
                        "description": "Business KYB field. Trading or 'doing business as' name. Rejected if `type=individual`."
                    },
                    "business_type": {
                        "type": "string",
                        "enum": ["corporation", "government_entity", "llc", "non_profit", "other", "partnership", "sole_proprietorship"],
                        "description": "Business KYB field. Legal entity type. Rejected if `type=individual`."
                    },
                    "registration_number": {
                        "type": "string",
                        "description": "Business KYB field. **Required for `type=business`** — registration / company number from the issuing authority. Together with `incorporation_country`, this is the canonical identifier for a business customer.\n\nUnique per business: two of your customers cannot share the same `(registration_number, incorporation_country)` pair. The same number is fine across different incorporation countries (jurisdictions overlap), and across different Blaaiz businesses.\n\nRejected if `type=individual`."
                    },
                    "incorporation_country": {
                        "type": "string",
                        "description": "Business KYB field. **Required for `type=business`** — country of incorporation as ISO alpha-2. Rejected if `type=individual`."
                    },
                    "incorporation_date": {
                        "type": "string",
                        "format": "date",
                        "description": "Business KYB field. Must be in the past. Rejected if `type=individual`."
                    },
                    "industry_type": {
                        "type": "string",
                        "description": "Business KYB field. Free-form industry/sector descriptor. Rejected if `type=individual`."
                    },
                    "business_description": {
                        "type": "string",
                        "description": "Business KYB field. Description of the business activity (max 2000 chars). Rejected if `type=individual`."
                    },
                    "website": {
                        "type": "string",
                        "format": "uri",
                        "description": "Business KYB field. Public website URL. Rejected if `type=individual`."
                    },
                    "source_of_funds": {
                        "type": "string",
                        "enum": ["business_revenue", "business_loans", "investment_income", "third_party_funds", "other"],
                        "description": "Business KYB field. Where the business's funds originate. Rejected if `type=individual`."
                    },
                    "estimated_annual_revenue": {
                        "type": "string",
                        "enum": ["0_99999", "100000_499999", "500000_999999", "1000000_4999999", "5000000_24999999", "25000000_99999999", "100000000_249999999", "250000000_plus"],
                        "description": "Business KYB field. Estimated annual revenue band, in USD. Rejected if `type=individual`."
                    },
                    "expected_monthly_payments": {
                        "type": "integer",
                        "description": "Business KYB field. Expected monthly payment count (0–1,000,000,000). Rejected if `type=individual`."
                    },
                    "account_purpose": {
                        "type": "string",
                        "enum": ["receive_payments_for_goods_and_services", "send_payments_for_goods_and_services", "send_receive_funds_related_parties", "other"],
                        "description": "Business KYB field. Stated purpose of the Blaaiz account. Rejected if `type=individual`."
                    },
                    "owners": {
                        "type": "array",
                        "maxItems": 5,
                        "description": "Business KYB field. Beneficial owners, signatories, and directors. Up to 5 entries. Rejected if `type=individual`. Each entry's `ownership_percentage` must sum across all owners to exactly 100 before `/submit` will accept the customer.",
                        "items": {
                            "type": "object",
                            "required": ["first_name", "last_name"],
                            "properties": {
                                "first_name": { "type": "string", "maxLength": 255 },
                                "last_name": { "type": "string", "maxLength": 255 },
                                "email": { "type": "string", "format": "email" },
                                "phone": { "type": "string" },
                                "date_of_birth": { "type": "string", "format": "date", "description": "Must be at least 18 years ago." },
                                "nationality": { "type": "string", "description": "ISO alpha-2 country code." },
                                "title": { "type": "string", "description": "e.g. 'CEO', 'Director'." },
                                "ownership_percentage": { "type": "number", "minimum": 0, "maximum": 100 },
                                "has_control": { "type": "boolean" },
                                "is_signer": { "type": "boolean" },
                                "is_beneficial_owner": { "type": "boolean" },
                                "street": { "type": "string", "minLength": 9, "maxLength": 255 },
                                "city": { "type": "string" },
                                "state": { "type": "string" },
                                "zip_code": { "type": "string" },
                                "country": { "type": "string", "description": "ISO alpha-2 country code." },
                                "id_document_type": {
                                    "type": "string",
                                    "enum": ["passport", "drivers_license", "id_card", "resident_permit"],
                                    "description": "Owner-level ID type. Note that `id_card` is allowed at the owner level (unlike the customer-level `id_type`)."
                                },
                                "id_document_number": { "type": "string" },
                                "id_document_country": { "type": "string", "description": "ISO alpha-2." },
                                "id_expiry_date": { "type": "string", "format": "date", "description": "Must be in the future." },
                                "tin": { "type": "string", "minLength": 5, "maxLength": 50 },
                                "is_pep": { "type": "boolean", "description": "Politically exposed person." },
                                "usa_tax_residency": { "type": "boolean" }
                            }
                        }
                    }
                },
                "required": [
                    "type",
                    "email"
                ]
            },
            "Customer": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "business_id": {
                        "type": "string"
                    },
                    "first_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "last_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "business_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "type": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
                    },
                    "id_type": {
                        "type": "string",
                        "nullable": true,
                        "description": "Set for individual customers. May be null on business customers (which identify via `registration_number` + `incorporation_country`)."
                    },
                    "id_number": {
                        "type": "string",
                        "nullable": true,
                        "description": "Set for individual customers. May be null on business customers."
                    },
                    "verification_status": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "business_id",
                    "type",
                    "email",
                    "country",
                    "verification_status"
                ]
            },
            "CreateCustomerResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/Customer"
                    }
                },
                "required": [
                    "message",
                    "data"
                ]
            },
            "Error": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "status",
                    "message"
                ]
            }
        }
    },
    "paths": {
        "/api/external/customer": {
            "post": {
                "summary": "Create a customer",
                "description": "Create a new customer. Verification stays `PENDING` until the type-specific verification flow completes.\n\n**For `type=individual`**, `id_type` and `id_number` are required. After creation, upload identity files via the legacy KYC flow (see [Creating your first payout](/guides/creating-first-payout)). Only Driver's License, Passport, or Resident Permit are accepted as `id_type`.\n\n**For `type=business`**, `business_name` + `registration_number` + `incorporation_country` are required. The legacy `id_type` / `id_number` fields are no longer required (still accepted for back-compat — when supplied, `id_type` must be `certificate_of_incorporation`). After creation, follow the [Business customer KYB](/guides/kyb/overview) flow: register beneficial owners, upload owner ID files, register KYB documents, then call `/submit`.\n\nID cards (National Identity Cards) are not accepted at any stage. All uploaded documents must be clear, legible, and authentic — unclear images will be rejected. Fraudulent or falsified documents will result in the customer being permanently blacklisted from the platform.\n\nRequired scope: `customer:write`.",
                "tags": [
                    "Customer"
                ],
                "security": [
                    {
                        "oauth2ClientCredentials": [
                            "customer:write"
                        ]
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCustomerRequest"
                            },
                            "examples": {
                                "individual": {
                                    "value": {
                                        "type": "individual",
                                        "first_name": "John",
                                        "last_name": "Doe",
                                        "email": "john.doe@company.com",
                                        "country": "NG",
                                        "id_type": "passport",
                                        "id_number": "6733823632872",
                                        "phone": "+2348012345678",
                                        "dob": "1990-01-15",
                                        "street": "123 Main Street",
                                        "city": "Lagos",
                                        "state": "Lagos",
                                        "zip_code": "100001",
                                        "id_expiry_date": "2030-01-15",
                                        "id_issue_date": "2020-01-15"
                                    }
                                },
                                "business": {
                                    "value": {
                                        "type": "business",
                                        "business_name": "Acme Corp",
                                        "trading_name": "Acme",
                                        "business_type": "llc",
                                        "registration_number": "RC123456",
                                        "incorporation_country": "NG",
                                        "incorporation_date": "2019-03-12",
                                        "industry_type": "Software & SaaS",
                                        "business_description": "B2B SaaS platform for African logistics operators.",
                                        "website": "https://acme.example.com",
                                        "source_of_funds": "business_revenue",
                                        "estimated_annual_revenue": "1000000_4999999",
                                        "expected_monthly_payments": 250,
                                        "account_purpose": "send_receive_funds_related_parties",
                                        "email": "contact@acme.com",
                                        "phone": "+2348012345678",
                                        "tin": "12345678-0001",
                                        "street": "456 Business Ave",
                                        "city": "Lagos",
                                        "state": "Lagos",
                                        "zip_code": "100001",
                                        "owners": [
                                            {
                                                "first_name": "Jane",
                                                "last_name": "Doe",
                                                "email": "jane@acme.example.com",
                                                "date_of_birth": "1985-04-22",
                                                "nationality": "NG",
                                                "title": "CEO",
                                                "ownership_percentage": 60,
                                                "has_control": true,
                                                "is_signer": true,
                                                "is_beneficial_owner": true,
                                                "id_document_type": "passport",
                                                "id_document_number": "A12345678",
                                                "id_document_country": "NG",
                                                "id_expiry_date": "2030-01-15",
                                                "is_pep": false
                                            },
                                            {
                                                "first_name": "John",
                                                "last_name": "Smith",
                                                "ownership_percentage": 40,
                                                "is_beneficial_owner": true
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Customer created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateCustomerResponse"
                                },
                                "example": {
                                    "message": "Customer created successfully.",
                                    "data": {
                                        "id": "9d4c4ec5-59ea-4130-bf8a-6a5edec401ee",
                                        "business_id": "9d4c4ec5-572d-49de-a362-f01ed09f2b1b",
                                        "first_name": "John",
                                        "last_name": "Doe",
                                        "business_name": null,
                                        "type": "individual",
                                        "email": "john.doe@company.com",
                                        "country": "NG",
                                        "id_type": "passport",
                                        "id_number": "6733823632872",
                                        "verification_status": "PENDING"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "status": false,
                                    "message": "Invalid request parameters"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "status": false,
                                    "message": "Invalid or missing access token"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
