{
    "openapi": "3.1.0",
    "info": {
        "title": "Blaaiz Platform API - Delete Customer Owner",
        "version": "1.0.0",
        "description": "Remove a beneficial owner from a business-type customer. Not allowed when the owner is locked (status `APPROVED` or `PROCESSING`)."
    },
    "tags": [
        { "name": "Customer" }
    ],
    "servers": [
        { "url": "https://api-prod.blaaiz.com" },
        { "url": "https://api-dev.blaaiz.com" }
    ],
    "components": {
        "securitySchemes": {
            "oauth2ClientCredentials": {
                "type": "oauth2",
                "flows": {
                    "clientCredentials": {
                        "tokenUrl": "/oauth/token",
                        "scopes": { "customer:write": "Create and update customers and KYC data." }
                    }
                }
            }
        }
    },
    "paths": {
        "/api/external/customer/{customer}/owner/{owner}": {
            "delete": {
                "summary": "Delete a customer owner",
                "description": "Removes a beneficial owner from the customer. Returns 400 if the owner is locked (status APPROVED or PROCESSING). Required scope: `customer:write`.\n\nNote: owners can also be created and edited as part of `POST /api/external/customer` and `PUT /api/external/customer/{id}` via the `owners` array — only deletion has its own dedicated endpoint.",
                "tags": ["Customer"],
                "security": [
                    { "oauth2ClientCredentials": ["customer:write"] }
                ],
                "parameters": [
                    { "name": "customer", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
                    { "name": "owner", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
                ],
                "responses": {
                    "200": {
                        "description": "Owner deleted.",
                        "content": { "application/json": { "example": { "message": "Owner deleted successfully" } } }
                    },
                    "400": {
                        "description": "Owner is locked.",
                        "content": { "application/json": { "example": { "message": "Cannot remove an owner that has been approved or is currently under review." } } }
                    },
                    "401": { "description": "Unauthorized." },
                    "404": { "description": "Customer or owner not found." }
                }
            }
        }
    }
}
