{
    "openapi": "3.1.0",
    "info": {
        "title": "Blaaiz Platform API - List Customers",
        "version": "1.0.0",
        "description": "Retrieve all customers with optional filters and pagination."
    },
    "tags": [
        {
            "name": "Customer"
        }
    ],
    "servers": [
        {
            "url": "https://api-prod.blaaiz.com"
        },
        {
            "url": "https://api-dev.blaaiz.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "apiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "x-blaaiz-api-key"
            }
        },
        "schemas": {
            "CustomerSummary": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "first_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "last_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "business_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "email": {
                        "type": "string"
                    },
                    "phone_number": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "required": [
                    "id",
                    "type",
                    "email",
                    "status",
                    "created_at"
                ]
            },
            "Pagination": {
                "type": "object",
                "properties": {
                    "current_page": {
                        "type": "integer"
                    },
                    "total_pages": {
                        "type": "integer"
                    },
                    "total_count": {
                        "type": "integer"
                    },
                    "per_page": {
                        "type": "integer"
                    }
                },
                "required": [
                    "current_page",
                    "total_pages",
                    "total_count",
                    "per_page"
                ]
            },
            "CustomerListData": {
                "type": "object",
                "properties": {
                    "customers": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CustomerSummary"
                        }
                    },
                    "pagination": {
                        "$ref": "#/components/schemas/Pagination"
                    }
                },
                "required": [
                    "customers",
                    "pagination"
                ]
            },
            "CustomerListResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/CustomerListData"
                    }
                },
                "required": [
                    "status",
                    "message",
                    "data"
                ]
            },
            "Error": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "status",
                    "message"
                ]
            }
        }
    },
    "paths": {
        "/api/external/customer": {
            "get": {
                "summary": "List all customers",
                "description": "Retrieve all customers with optional filters and pagination.",
                "tags": [
                    "Customer"
                ],
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "verified",
                                "rejected"
                            ]
                        },
                        "description": "Filter by status."
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "individual",
                                "business"
                            ]
                        },
                        "description": "Filter by customer type."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        },
                        "description": "Page number."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100
                        },
                        "description": "Results per page."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Customers retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerListResponse"
                                },
                                "example": {
                                    "status": true,
                                    "message": "Customers retrieved successfully",
                                    "data": {
                                        "customers": [
                                            {
                                                "id": "customer_123",
                                                "type": "individual",
                                                "first_name": "John",
                                                "last_name": "Doe",
                                                "email": "john@example.com",
                                                "phone_number": "+2348012345678",
                                                "status": "verified",
                                                "created_at": "2024-01-15T10:30:00Z"
                                            },
                                            {
                                                "id": "customer_456",
                                                "type": "business",
                                                "business_name": "Acme Corp",
                                                "email": "contact@acme.com",
                                                "phone_number": "+2348012345679",
                                                "status": "verified",
                                                "created_at": "2024-01-14T09:20:00Z"
                                            }
                                        ],
                                        "pagination": {
                                            "current_page": 1,
                                            "total_pages": 5,
                                            "total_count": 50,
                                            "per_page": 10
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "status": false,
                                    "message": "Invalid or missing API key"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}