{
    "openapi": "3.1.0",
    "info": {
        "title": "Blaaiz Platform API - List Customers",
        "version": "1.0.0",
        "description": "Retrieve all customers with optional filters and pagination."
    },
    "tags": [
        {
            "name": "Customer"
        }
    ],
    "servers": [
        {
            "url": "https://api-prod.blaaiz.com"
        },
        {
            "url": "https://api-dev.blaaiz.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "oauth2ClientCredentials": {
                "type": "oauth2",
                "description": "Use your OAuth client credentials to obtain a short-lived Bearer token from POST /oauth/token.",
                "flows": {
                    "clientCredentials": {
                        "tokenUrl": "/oauth/token",
                        "scopes": {
                            "customer:read": "Read customers."
                        }
                    }
                }
            }
        },
        "schemas": {
            "CustomerSummary": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "first_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "last_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "business_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "email": {
                        "type": "string"
                    },
                    "phone_number": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "required": [
                    "id",
                    "type",
                    "email",
                    "status",
                    "created_at"
                ]
            },
            "CustomerListResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CustomerSummary"
                        }
                    }
                },
                "required": [
                    "message",
                    "data"
                ]
            },
            "Error": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "status",
                    "message"
                ]
            }
        }
    },
    "paths": {
        "/api/external/customer": {
            "get": {
                "summary": "List all customers",
                "description": "Retrieve all customers with optional filters and pagination. Required scope: `customer:read`.",
                "tags": [
                    "Customer"
                ],
                "security": [
                    {
                        "oauth2ClientCredentials": [
                            "customer:read"
                        ]
                    }
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Customers retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerListResponse"
                                },
                                "example": {
                                    "message": "Customers retrieved successfully",
                                    "data": [
                                        {
                                            "id": "customer_123",
                                            "type": "individual",
                                            "first_name": "John",
                                            "last_name": "Doe",
                                            "email": "john@example.com",
                                            "phone_number": "+2348012345678",
                                            "status": "verified",
                                            "created_at": "2024-01-15T10:30:00Z"
                                        },
                                        {
                                            "id": "customer_456",
                                            "type": "business",
                                            "business_name": "Acme Corp",
                                            "email": "contact@acme.com",
                                            "phone_number": "+2348012345679",
                                            "status": "verified",
                                            "created_at": "2024-01-14T09:20:00Z"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "status": false,
                                    "message": "Invalid or missing access token"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
