{
    "openapi": "3.1.0",
    "info": {
        "title": "Blaaiz Platform API - Update Customer",
        "version": "1.0.0",
        "description": "Update customer profile details. Non-verified customers can update all fields. Verified customers can only update fields that are currently null. The customer's country must match the country on the identity document submitted for KYC."
    },
    "tags": [
        {
            "name": "Customer"
        }
    ],
    "servers": [
        {
            "url": "https://api-prod.blaaiz.com"
        },
        {
            "url": "https://api-dev.blaaiz.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "oauth2ClientCredentials": {
                "type": "oauth2",
                "description": "Use your OAuth client credentials to obtain a short-lived Bearer token from POST /oauth/token.",
                "flows": {
                    "clientCredentials": {
                        "tokenUrl": "/oauth/token",
                        "scopes": {
                            "customer:write": "Create and update customers and KYC data."
                        }
                    }
                }
            }
        },
        "schemas": {
            "Address": {
                "type": "object",
                "properties": {
                    "street": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
                    },
                    "postal_code": {
                        "type": "string"
                    }
                }
            },
            "UpdateCustomerRequest": {
                "type": "object",
                "properties": {
                    "first_name": {
                        "type": "string"
                    },
                    "last_name": {
                        "type": "string"
                    },
                    "business_name": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "phone": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string",
                        "description": "Country code (e.g., NG, CA, US). This must match the country on the identity document submitted for KYC."
                    },
                    "id_type": {
                        "type": "string",
                        "enum": [
                            "drivers_license",
                            "passport",
                            "id_card",
                            "resident_permit",
                            "certificate_of_incorporation"
                        ],
                        "description": "ID type; certificate_of_incorporation only valid for business."
                    },
                    "id_number": {
                        "type": "string"
                    },
                    "tin": {
                        "type": "string",
                        "description": "Tax identification number (varies by country). Where applicable, use the Get Identification Type endpoint to determine the correct label or field to collect for the customer's country and type."
                    },
                    "dob": {
                        "type": "string",
                        "format": "date"
                    },
                    "street": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "zip_code": {
                        "type": "string"
                    },
                    "id_expiry_date": {
                        "type": "string",
                        "format": "date"
                    },
                    "id_issue_date": {
                        "type": "string",
                        "format": "date"
                    }
                }
            },
            "Customer": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "first_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "last_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "business_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "email": {
                        "type": "string"
                    },
                    "phone_number": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "required": [
                    "id",
                    "type",
                    "email",
                    "status",
                    "created_at",
                    "updated_at"
                ]
            },
            "UpdateCustomerResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/Customer"
                    }
                },
                "required": [
                    "status",
                    "message",
                    "data"
                ]
            },
            "Error": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "status",
                    "message"
                ]
            }
        }
    },
    "paths": {
        "/api/external/customer/{id}": {
            "put": {
                "summary": "Update a customer",
                "description": "Update customer profile details. Non-verified customers can update all fields. Verified customers can only update fields that are currently null. The customer's country must match the country on the identity document submitted for KYC. Required scope: `customer:write`.",
                "tags": [
                    "Customer"
                ],
                "security": [
                    {
                        "oauth2ClientCredentials": [
                            "customer:write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Customer ID"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCustomerRequest"
                            },
                            "examples": {
                                "update_details": {
                                    "value": {
                                        "first_name": "Oluwatobi",
                                        "last_name": "Ishola",
                                        "business_name": "Blaaiz",
                                        "email": "oluwatobi.ishola+customer@blaaiz.com",
                                        "phone": "+2348012345678",
                                        "country": "NG",
                                        "id_type": "passport",
                                        "id_number": "A123456789",
                                        "tin": "12345-ABCDE",
                                        "dob": "1996-08-21",
                                        "street": "12 Admiralty Way",
                                        "city": "Lagos",
                                        "state": "Lagos",
                                        "zip_code": "101233",
                                        "id_expiry_date": "2030-12-31",
                                        "id_issue_date": "2020-01-15"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Customer updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateCustomerResponse"
                                },
                                "example": {
                                    "status": true,
                                    "message": "Customer updated successfully",
                                    "data": {
                                        "id": "customer_123456789",
                                        "type": "individual",
                                        "first_name": "John",
                                        "last_name": "Doe",
                                        "email": "john@example.com",
                                        "phone_number": "+2348098765432",
                                        "status": "verified",
                                        "created_at": "2024-01-15T10:30:00Z",
                                        "updated_at": "2024-01-15T11:00:00Z"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "invalid_request": {
                                        "value": {
                                            "status": false,
                                            "message": "Invalid request parameters"
                                        }
                                    },
                                    "verified_customer_locked_fields": {
                                        "value": {
                                            "status": false,
                                            "message": "Verified customers can only update fields that are currently null"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "status": false,
                                    "message": "Customer not found"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "status": false,
                                    "message": "Invalid or missing access token"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
