{
    "openapi": "3.1.0",
    "info": {
        "title": "Blaaiz Platform API - Fees Breakdown",
        "version": "1.0.0",
        "description": "Calculate fees for a transaction before initiating it"
    },
    "tags": [
        {
            "name": "Fees"
        }
    ],
    "servers": [
        {
            "url": "https://api-prod.blaaiz.com"
        },
        {
            "url": "https://api-dev.blaaiz.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "apiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "x-blaaiz-api-key"
            }
        },
        "schemas": {
            "FeeBreakdownRequest": {
                "type": "object",
                "description": "This retrieves a detailed fee breakdown for a specific transaction type between two currencies. By providing the necessary parameters, businesses can understand the applicable fees for sending or receiving funds, whether through bank transfers or other methods. This endpoint supports transactions in various currencies, allowing for flexibility and transparency in financial operations.",
                "properties": {
                    "from_currency_id": {
                        "type": "string",
                        "description": "Currency code you are sending from (e.g., NGN, CAD, USD)"
                    },
                    "to_currency_id": {
                        "type": "string",
                        "description": "Currency code the recipient will receive (e.g., NGN, CAD, USD)"
                    },
                    "from_amount": {
                        "type": "number",
                        "description": "Amount to deduct from your wallet"
                    },
                    "to_amount": {
                        "type": "number",
                        "description": "Exact amount the recipient should receive"
                    }
                },
                "required": [
                    "from_currency_id",
                    "to_currency_id",
                    "from_amount"
                ]
            },
            "FeeItem": {
                "type": "object",
                "properties": {
                    "method": {
                        "type": "string",
                        "description": "Method this fee applies to (e.g., open_banking, card, ach, bank_transfer, interac)"
                    },
                    "amount": {
                        "type": "number",
                        "description": "Fee amount"
                    }
                },
                "required": [
                    "method",
                    "amount"
                ]
            },
            "FeeBreakdownResponse": {
                "type": "object",
                "properties": {},
                "to_amount": {
                    "type": "number",
                    "description": "Exact amount the recipient should receive"
                },
                "our_fee": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Overall fee object returned by the system."
                },
                "collection_fees": {
                    "type": "array",
                    "items": {
                        "$ref": "#/components/schemas/FeeItem"
                    }
                },
                "payout_fees": {
                    "type": "array",
                    "items": {
                        "$ref": "#/components/schemas/FeeItem"
                    }
                }
            },
            "required": [
                "our_fee",
                "collection_fees",
                "payout_fees"
            ]
        },
        "Error": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                }
            },
            "required": [
                "message"
            ]
        }
    },
    "paths": {
        "/api/external/fees/breakdown": {
            "post": {
                "summary": "Get fees breakdown",
                "description": "Calculate fees for a transaction between two currencies. Provide either from_amount or to_amount (not both).",
                "tags": [
                    "Fees"
                ],
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FeeBreakdownRequest"
                            },
                            "example": {
                                "from_currency_id": "NGN",
                                "to_currency_id": "NGN",
                                "from_amount": 50000,
                                "method": "bank_transfer"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Fee breakdown calculated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeeBreakdownResponse"
                                },
                                "example": {
                                    "our_fee": {
                                        "open_banking": 100
                                    },
                                    "collection_fees": [
                                        {
                                            "method": "open_banking",
                                            "amount": 100
                                        },
                                        {
                                            "method": "card",
                                            "amount": 200
                                        }
                                    ],
                                    "payout_fees": [
                                        {
                                            "method": "bank_transfer",
                                            "amount": 150
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "status": false,
                                    "message": "Invalid request parameters"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "status": false,
                                    "message": "Invalid or missing API key"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}