{
    "openapi": "3.1.0",
    "info": {
        "title": "Blaaiz Platform API - Get Webhook URLs",
        "version": "1.0.0",
        "description": "Retrieve your registered webhook URLs."
    },
    "tags": [
        {
            "name": "Webhook"
        }
    ],
    "servers": [
        {
            "url": "https://api-prod.blaaiz.com"
        },
        {
            "url": "https://api-dev.blaaiz.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "oauth2ClientCredentials": {
                "type": "oauth2",
                "description": "Use your OAuth client credentials to obtain a short-lived Bearer token from POST /oauth/token.",
                "flows": {
                    "clientCredentials": {
                        "tokenUrl": "/oauth/token",
                        "scopes": {
                            "business-api-services": "Access Blaaiz external business API endpoints."
                        }
                    }
                }
            }
        },
        "schemas": {
            "WebhookConfig": {
                "type": "object",
                "properties": {
                    "payout_url": {
                        "type": "string",
                        "format": "uri"
                    },
                    "collection_url": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL receiving collection, virtual account, and customer KYC events."
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "required": [
                    "payout_url",
                    "collection_url",
                    "created_at",
                    "updated_at"
                ]
            },
            "Error": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "status",
                    "message"
                ]
            }
        }
    },
    "paths": {
        "/api/external/webhook": {
            "get": {
                "summary": "Get webhook URLs",
                "description": "Retrieve your registered webhook URLs. Your collection_url is used for collection events, virtual account events, and customer KYC events.",
                "tags": [
                    "Webhook"
                ],
                "security": [
                    {
                        "oauth2ClientCredentials": [
                            "business-api-services"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Webhook URLs retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WebhookConfig"
                                },
                                "example": {
                                    "payout_url": "https://yourapp.com/webhooks/payout",
                                    "collection_url": "https://yourapp.com/webhooks/collection",
                                    "created_at": "2024-01-01T00:00:00Z",
                                    "updated_at": "2024-01-15T10:30:00Z"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No webhook URLs configured",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "status": false,
                                    "message": "No webhook URLs configured"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "status": false,
                                    "message": "Invalid or missing access token"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
