{
  "openapi": "3.1.0",
  "info": {"title": "Blaaiz Platform API - List Webhook Logs", "version": "1.0.0", "description": "Get paginated webhook delivery logs for your business."},
  "tags": [{"name": "Webhook"}],
  "servers": [{"url": "https://api-prod.blaaiz.com"}, {"url": "https://api-dev.blaaiz.com"}],
  "components": {
    "securitySchemes": {"oauth2ClientCredentials": {"type": "oauth2", "flows": {"clientCredentials": {"tokenUrl": "/oauth/token", "scopes": {"webhook:read": "Read webhook configuration and logs."}}}}},
    "schemas": {
      "WebhookLog": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "business_id": {"type": "string"},
          "business_transaction_id": {"type": ["string", "null"]},
          "business_crypto_wallet_transaction_id": {"type": ["string", "null"]},
          "type": {"type": "string"},
          "webhook_url": {"type": "string", "format": "uri"},
          "payload": {"type": "object"},
          "response": {"type": ["object", "null"]},
          "status": {"type": "string", "enum": ["INITIATED", "PROCESSING", "SUCCESSFUL", "FAILED"]},
          "created_at": {"type": "string", "format": "date-time"},
          "updated_at": {"type": "string", "format": "date-time"}
        }
      }
    }
  },
  "paths": {
    "/api/external/webhook-logs": {
      "get": {
        "summary": "List webhook logs",
        "description": "Get webhook delivery logs for your business. Crypto payout events use the `crypto.payout.*` type values. Required scope: `webhook:read`.",
        "tags": ["Webhook"],
        "security": [{"oauth2ClientCredentials": ["webhook:read"]}],
        "parameters": [
          {"name": "start_date", "in": "query", "schema": {"type": "string", "format": "date"}},
          {"name": "end_date", "in": "query", "schema": {"type": "string", "format": "date"}},
          {"name": "status", "in": "query", "schema": {"type": "string", "enum": ["SUCCESSFUL", "FAILED"]}},
          {"name": "type", "in": "query", "schema": {"type": "string"}, "description": "The webhook event type."},
          {"name": "search_term", "in": "query", "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "schema": {"type": "integer", "minimum": 1, "maximum": 30, "default": 15}}
        ],
        "responses": {"200": {"description": "Webhook logs retrieved successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"current_page": {"type": "integer"}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/WebhookLog"}}, "per_page": {"type": "integer"}, "total": {"type": "integer"}}}, "example": {"current_page": 1, "data": [{"id": "log-id", "business_id": "business-id", "business_transaction_id": null, "business_crypto_wallet_transaction_id": "crypto-transaction-id", "type": "crypto.payout.successful", "webhook_url": "https://example.com/webhooks/payout", "payload": {"event": "crypto.payout.successful"}, "response": {"status": 200}, "status": "SUCCESSFUL"}], "per_page": 15, "total": 1}}}}}
      }
    }
  }
}
