{
    "openapi": "3.1.0",
    "info": {
        "title": "Blaaiz Platform API - Replay Webhook",
        "version": "1.0.0",
        "description": "Replay an eligible webhook delivery for a successful fiat transaction or a failed crypto payout webhook."
    },
    "tags": [
        {
            "name": "Webhook"
        }
    ],
    "servers": [
        {
            "url": "https://api-prod.blaaiz.com"
        },
        {
            "url": "https://api-dev.blaaiz.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "oauth2ClientCredentials": {
                "type": "oauth2",
                "description": "Use your OAuth client credentials to obtain a short-lived Bearer token from POST /oauth/token.",
                "flows": {
                    "clientCredentials": {
                        "tokenUrl": "/oauth/token",
                        "scopes": {
                            "webhook:replay": "Replay webhook deliveries."
                        }
                    }
                }
            }
        },
        "schemas": {
            "WebhookReplayRequest": {
                "type": "object",
                "properties": {
                    "transaction_id": {
                        "type": "string",
                        "description": "A successful fiat transaction ID. Do not send this field with `webhook_log_id`."
                    },
                    "webhook_log_id": {
                        "type": "string",
                        "description": "A failed crypto payout webhook log ID. Do not send this field with `transaction_id`."
                    }
                },
                "oneOf": [
                    {"required": ["transaction_id"]},
                    {"required": ["webhook_log_id"]}
                ]
            },
            "WebhookReplayResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "message"
                ]
            },
            "Error": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "message"
                ]
            }
        }
    },
    "paths": {
        "/api/external/webhook-replay": {
            "post": {
                "summary": "Replay webhook",
                "description": "Replay a webhook delivery. Send `transaction_id` for a successful fiat transaction. Send `webhook_log_id` for an eligible failed crypto payout webhook. Required scope: `webhook:replay`.",
                "tags": [
                    "Webhook"
                ],
                "security": [
                    {
                        "oauth2ClientCredentials": [
                            "webhook:replay"
                        ]
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WebhookReplayRequest"
                            },
                            "example": {
                                "webhook_log_id": "fb87c0f8-31e3-46f3-b0d3-1ff2618565bc"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Webhook replayed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WebhookReplayResponse"
                                },
                                "example": {
                                    "message": "Webhook replayed successfully"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "message": "Invalid or missing access token"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Both selectors were sent, neither selector was sent, or the webhook log is not eligible for replay."
                    }
                }
            }
        }
    }
}
