{
    "openapi": "3.1.0",
    "info": {
        "title": "Blaaiz Platform API - Update Webhook URLs",
        "version": "1.0.0",
        "description": "Update your registered webhook URLs."
    },
    "tags": [
        {
            "name": "Webhook"
        }
    ],
    "servers": [
        {
            "url": "https://api-prod.blaaiz.com"
        },
        {
            "url": "https://api-dev.blaaiz.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "oauth2ClientCredentials": {
                "type": "oauth2",
                "description": "Use your OAuth client credentials to obtain a short-lived Bearer token from POST /oauth/token.",
                "flows": {
                    "clientCredentials": {
                        "tokenUrl": "/oauth/token",
                        "scopes": {
                            "webhook:write": "Create and update webhooks."
                        }
                    }
                }
            }
        },
        "schemas": {
            "WebhookUpdateRequest": {
                "type": "object",
                "properties": {
                    "collection_url": {
                        "type": "string",
                        "format": "uri",
                        "description": "Collection webhook URL. This receives collection events, virtual account events, and customer KYC events."
                    },
                    "payout_url": {
                        "type": "string",
                        "format": "uri",
                        "description": "Payout webhook URL"
                    },
                    "kyc_url": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true,
                        "description": "Optional. URL to receive Merchant KYC verification session events (merchant.kyc.session.completed and merchant.kyc.session.expired). Omit it if you do not use Merchant KYC. Send null to clear a URL you set before. If you omit the field entirely, the stored kyc_url is left unchanged."
                    }
                }
            },
            "WebhookUpdateResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "message"
                ]
            },
            "Error": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "message"
                ]
            }
        }
    },
    "paths": {
        "/api/external/webhook/{businessWebhook}": {
            "put": {
                "summary": "Update webhook URL",
                "description": "Update your registered webhook URLs. Your collection_url receives collection events, virtual account events, and customer KYC events. Your optional kyc_url receives Merchant KYC verification session events; omit the field to leave it unchanged, or send null to clear it. Required scope: `webhook:write`.",
                "tags": [
                    "Webhook"
                ],
                "security": [
                    {
                        "oauth2ClientCredentials": [
                            "webhook:write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "businessWebhook",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Webhook ID or reference to update."
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WebhookUpdateRequest"
                            },
                            "example": {
                                "collection_url": "https://yourapp.com/webhooks/collection",
                                "payout_url": "https://yourapp.com/webhooks/payout",
                                "kyc_url": "https://yourapp.com/webhooks/kyc"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Webhook record updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WebhookUpdateResponse"
                                },
                                "example": {
                                    "message": "Webhook record updated successfully"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "message": "Invalid or missing access token"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
