{
    "openapi": "3.1.0",
    "info": {
        "title": "Blaaiz Platform API - List Currencies",
        "version": "1.0.0",
        "description": "Retrieve all supported currencies"
    },
    "tags": [
        {
            "name": "Currency"
        }
    ],
    "servers": [
        {
            "url": "https://api-prod.blaaiz.com"
        },
        {
            "url": "https://api-dev.blaaiz.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "oauth2ClientCredentials": {
                "type": "oauth2",
                "description": "Use your OAuth client credentials to obtain a short-lived Bearer token from POST /oauth/token.",
                "flows": {
                    "clientCredentials": {
                        "tokenUrl": "/oauth/token",
                        "scopes": {
                            "business-api-services": "Access Blaaiz external business API endpoints."
                        }
                    }
                }
            }
        },
        "schemas": {
            "Currency": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique identifier for the currency"
                    },
                    "code": {
                        "type": "string",
                        "description": "Currency code (e.g., NGN, CAD, USD, EUR, GBP)"
                    },
                    "name": {
                        "type": "string",
                        "description": "Full name of the currency"
                    },
                    "active": {
                        "type": "boolean",
                        "description": "Indicates if the currency is active"
                    }
                },
                "required": [
                    "id",
                    "code",
                    "name",
                    "active"
                ]
            },
            "Error": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "message"
                ]
            }
        }
    },
    "paths": {
        "/api/external/currency": {
            "get": {
                "summary": "List all currencies",
                "description": "Retrieve all supported currencies.",
                "tags": [
                    "Currency"
                ],
                "security": [
                    {
                        "oauth2ClientCredentials": [
                            "business-api-services"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Currencies retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Currency"
                                    }
                                },
                                "example": [
                                    {
                                        "id": "currency_001",
                                        "code": "NGN",
                                        "name": "Nigerian Naira",
                                        "active": true
                                    },
                                    {
                                        "id": "currency_002",
                                        "code": "CAD",
                                        "name": "Canadian Dollar",
                                        "active": true
                                    },
                                    {
                                        "id": "currency_003",
                                        "code": "USD",
                                        "name": "United States Dollar",
                                        "active": true
                                    },
                                    {
                                        "id": "currency_004",
                                        "code": "EUR",
                                        "name": "Euro",
                                        "active": true
                                    },
                                    {
                                        "id": "currency_005",
                                        "code": "GBP",
                                        "name": "British Pound",
                                        "active": true
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "message": "Invalid or missing access token"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
